@import 'variables.styles';

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
  
body {
    height: 100vh;
    min-height: 100%; 
    @include themed() { background: t('backgroundColor'); }
    &::after,
    &::before {
        @include themed() { background-color: t('backgroundColor'); }
        content: "";
        position: absolute;
        z-index: 500;
        width: 100px;
        height: 25px;  
        
        transform: translateY(-50%);
    }
    &::after {
        left: 0;
        top: 80%;
    }
    &::before {
        right: 0;
        top: 10%;
    }
}
  
.container {
    padding: 20px;
    height: 100vh;
    background-image: url("../../public/images/production ID_4779866.gif");
    background-repeat: no-repeat;

    .theme-container {
        * { display: inline-block; }
        width: 250px;
        .theme-icon { vertical-align: middle; }
        .theme-toggler {
            text-align: left;
            margin:0;
            width: 250px;   
            @include themed() { 
                color: t('backgroundColor'); 
                border-top: 1px solid t('primaryLight');
            }
            font-family: $secondaryFont;
            font-size: 24px;
            background-color: rgba(0,0,0,0);
            background-size: 100% 0%;
            background-repeat: no-repeat;
            transition: .4s;
            border: 0;
            &:hover {
                @include themed() {  
                    color: t('primaryDark');
                    background-image: linear-gradient(t('primaryLight'), t('primaryLight')); 
                }
                background-size: 100% 100%;
            }
        }
    }

    .about {
        * { letter-spacing: 2px; }
        .name {
            span { color: $secondaryLight; }
            @include themed() { color: t('primaryLight'); }
            color: $primaryLight;
            font-family: $primaryFont;
            font-size: 64px;
            font-weight: bold;
        }

        .bio {
            font-family: $secondaryFont;
            @include themed() { color: t('primaryLight'); }
            width: 50%;
            .title {  
                font-size: 36px;
                font-weight: bold;
            }
            .objective {
                font-size: 24px;
                word-break: break-word;
                span { 
                    display: block;
                    margin: 55px 0 55px; 
                }
            }
        }

        .about-hr {
            width: 45%;
            @include themed() { border-bottom: 1px solid t('primaryLight'); }
        }

        .info-btn {
            font-family: $secondaryFont;
            font-size: 20px;
            @include themed() { 
                border: 1px solid t('primaryLight'); 
                color: t('primaryLight');
            }
            background: rgba(0,0,0,0);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: .4s;
            padding: 15px;
            &:hover {
                background-size: 100% 100%;  
                @include themed() { 
                    background-image: linear-gradient(t('primaryLight'),t('primaryLight'));
                    color: t('primaryDark'); 
                }
            }
        }
    }
    .arrow-down-btn-container {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-family: $secondaryFont;  
        margin: 0;
        @include themed() { color: t('primaryLight'); }
        .see-more-btn {
            animation: bounce 1.5s ease infinite;
            animation-fill-mode: both;
            background: rgba(0,0,0,0);
            border: 0;
            @include themed() { color: t('primaryLight'); }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

 @media (max-width: 767px) {
    * { margin: 0; }
   body {
    &::before,
    &::after {
        display: none;
    }
   }

   .container {
        text-align: center;
        .about {
            .about-hr { border: 0 !important; }
            .bio { width: unset; }
        }

        .theme-container { 
            width: 100%; 
            .theme-toggler { text-align: center; } 
        }

        .arrow-down-btn-container { 
            .see-more-btn {
                animation: none; 
            }
        }
   }
}