@import 'variables.styles';

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
  
body {
    height: 100vh;
    min-height: 100%; 
    @include themed() { background: t('backgroundColor'); }
    &::after,
    &::before {
        @include themed() { background-color: t('backgroundColor'); }
        content: "";
        position: absolute;
        z-index: 500;
        width: 100px;
        height: 25px;  
        
        transform: translateY(-50%);
    }
    &::after {
        left: 0;
        top: 80%;
    }
    &::before {
        right: 0;
        top: 10%;
    }
}
  
.container {
    position: relative;
    padding: 20px;
    height: 100vh;
    background-image: url("../../public/images/production ID_4779866.gif");
    background-repeat: no-repeat;

    #overlay {
        z-index: 1;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include themed() { background-color: t('overlayColor'); }
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    #overlay ~ * :not(.arrow-down-btn-container) {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "COPYRIGHT 2023";
        font-family: $secondaryFont;
        @include themed() { color: t('primaryDark'); }
        rotate: 90deg;
        position: absolute;
        overflow: hidden;
        right: -75px;
        top: 50%;
        transform: translateY(-50%);
    }

    .theme-container {
        * { display: inline-block; }
        width: 250px;
        .theme-icon { 
            @include themed() { color: $secondaryLight; }
            vertical-align: middle; 
        }
        .theme-toggler {
            text-align: left;
            margin:0;
            width: 250px;   
            @include themed() { 
                color: t('backgroundColor'); 
                border-top: 1px solid t('primaryLight');
            }
            font-family: $secondaryFont;
            font-size: 24px;
            background-color: rgba(0,0,0,0);
            background-size: 100% 0%;
            background-repeat: no-repeat;
            transition: .4s;
            border: 0;
            &:hover {
                @include themed() {  
                    color: t('primaryDark');
                    background-image: linear-gradient(t('primaryLight'), t('primaryLight')); 
                }
                background-size: 100% 100%;
            }
        }
    }

    .about {
        * { letter-spacing: 2px; }
        .name {
            span { color: $secondaryLight; }
            @include themed() { color: t('primaryLight'); }
            color: $primaryLight;
            font-family: $primaryFont;
            font-size: 64px;
            font-weight: bold;
        }

        .bio {
            font-family: $secondaryFont;
            @include themed() { color: t('primaryLight'); }
            width: 50%;
            .title {  
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
                span { 
                    margin: 0;
                    color: $secondaryLight; 
                }
            }
            .objective {
                font-size: 24px;
                word-break: break-word;
                span { 
                    display: block;
                    margin: 55px 0 55px; 
                }
            }
        }

        .about-hr {
            width: 45%;
            @include themed() { border-bottom: 1px solid t('primaryLight'); }
        }

        .info-btn {
            font-family: $secondaryFont;
            font-size: 20px;
            @include themed() { 
                border: 1px solid t('primaryLight'); 
                color: t('primaryLight');
            }
            background: rgba(0,0,0,0);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: .4s;
            padding: 15px;
            &:hover {
                background-size: 100% 100%;  
                @include themed() { 
                    background-image: linear-gradient(t('primaryLight'),t('primaryLight'));
                    color: t('primaryDark'); 
                }
            }
        }
    }
    .arrow-down-btn-container {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-family: $secondaryFont;  
        margin: 0;
        @include themed() { color: t('primaryLight'); }
        .see-more-btn {
            animation: bounce 1.5s ease infinite;
            animation-fill-mode: both;
            background: rgba(0,0,0,0);
            border: 0;
            @include themed() { color: t('buttonColor'); }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

 @media (max-width: 767px) {
    * { margin: 0; }
   body {
    margin: 10px;
    &::before,
    &::after {
        display: none;
    }
   }

   .container {
    * { margin: 5px 0;}
        &::before { display: none; }
        .about {
            .about-hr { border: 0 !important; }
            .name { font-size: 40px; }
            .bio { 
                width: unset; 
                .title { font-size: 20px; }
                .objective { 
                    font-size: 18px; 
                    span { text-align: center; }
                }
            }   
            .info-btn { font-size: 15px; }
            button {
                display: block;
                margin: 0 auto;
            }
        }

        .theme-container { 
            width: 100%; 
            text-align: center;
            .theme-toggler { text-align: center; } 
        }

        .arrow-down-btn-container { 
            text-align: center;
            .see-more-btn {
                animation: none; 
            }
        }
   }
}