@import 'variables.styles';

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    @include themed() { color: t('primaryLight'); }
    &:hover {
        color: $secondaryLight;
        text-decoration: underline;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black; 
    background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    @include themed() { background: t('primaryDark'); }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7342FF;
}

button {
    cursor: pointer;
}
  
body { 
    overflow-y: hidden;
    @include themed() { background: t('backgroundColor'); }
    &::after,
    &::before {
        @include themed() { background-color: t('backgroundColor'); }
        content: "";
        position: absolute;
        z-index: 500;
        width: 100px;
        height: 25px;  
        
        transform: translateY(-50%);
    }
    &::after {
        left: 0;
        top: 80%;
    }
    &::before {
        right: 0;
        top: 10%;
    }
}
  
.container {
    position: relative;
    padding: 20px;
    height: 95vh;
    background-image: url("../../public/images/production ID_4779866.gif");
    background-repeat: no-repeat;

    .back-to-top-btn {
        position: absolute;
        right: 0;
        bottom: 5px;
        background: rgba(0,0,0,0);
        @include themed() { color: t('primaryDark'); }
        @include themed() { border: 1px solid t('primaryDark'); }
        border-radius: 20px 0 0 0;
        &:hover {
            background: $primaryLight;
            @include themed() { color: t('primaryLight'); }
        }
    }

    .overlay {
        z-index: 1;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .scroll-container {
        margin: 0;
        position: absolute;
        height: 80vh;
        width: 100%;
        z-index: 70;
        left: 0;
        top: 25%;
        overflow-x: hidden;
        &::-webkit-scrollbar { width: 0; }
        .subcontainer {
            margin: 0;
            position: relative;
            width: 100%;
            height: 80vh;
            bottom: -100%;
            left: 0;
            overflow-x: hidden;
            backdrop-filter: blur(40.7742px);
            background-color: rgba(118, 118, 118, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            .project-title {
                font-family: $primaryFont;
                font-size: 40px;
                font-weight: bold;
                @include themed() { color: t('primaryLight'); }
                span { 
                    font-size: 24px;
                    color: $secondaryLight; 
                }
            }
            .project-url {
                font-family: $secondaryFont;
                margin: 0;
                font-size: 24px;
                &:last-child { font-size: 20px; }
                .external-icon { 
                    vertical-align: middle;
                    color: $secondaryLight; 
                }
            }
            .swiper-container {
                width: 100%;
                input { display: none; }
        
                /* after checked */
                #p-1:checked ~ .projects label[for="p-2"],
                #p-2:checked ~ .projects label[for="p-3"],
                #p-3:checked ~ .projects label[for="p-4"],
                #p-4:checked ~ .projects label[for="p-1"] {
                    cursor: pointer;
                    transform: translate3d(300px, 0, -90px) rotateY(-15deg) scale(0.8);
                    z-index: 10;
                }
        
                /* before checked */
                #p-1:checked ~ .projects label[for="p-4"],
                #p-2:checked ~ .projects label[for="p-1"],
                #p-3:checked ~ .projects label[for="p-2"],
                #p-4:checked ~ .projects label[for="p-3"]{
                    cursor: pointer;
                    transform: translate3d(-300px, 0, -90px) rotateY(15deg) scale(0.8);
                    z-index: 10;
                }

                #p-1:checked ~ .projects label[for="p-1"],
                #p-2:checked ~ .projects label[for="p-2"],
                #p-3:checked ~ .projects label[for="p-3"],
                #p-4:checked ~ .projects label[for="p-4"] {
                    background-color: rgba(40, 40, 40, 1);
                    z-index: 13;
                }
        
                .projects {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    min-height: 380px;
                    align-items: center;
        
                    .swiper-item {
                        position: absolute;
                        font-size: 60px;
                        transition: transform 0.4s;
                        background-color: rgba(40, 40, 40, 0.5);
                        background-size: cover;
                        border: 1px solid $secondaryLight;
                        width: 650px;
                        height: 380px;
                        color: white;
                        text-align: center;
                        .project-information {
                            position: relative;
                            background-color: rgba(0,0,0,0.6);
                            margin: 0;
                            width: 100%;
                            height: 378px;
                            font-family: $secondaryFont;
                            font-size: 22px;
                            &:hover {
                                transition: .4s;
                                opacity: 0;
                            }
                            .project-type,
                            .project-client,
                            .project-tools { position: absolute; }
                            span { 
                                color: $secondaryLight;
                                font-style: italic;
                            }
                            .project-type,
                            .project-client {
                                top: 5px;
                            }
                            .project-type {
                                left: 0;
                            }
                            .project-client { right: 5px; }
                            .project-tools { 
                                left: 50%;
                                transform: translateX(-50%);
                                width: 65%;
                                bottom: 5px; 
                            }
                        }
                    }
                } 
            }
        }
    }

    #overlay ~ * :not(.arrow-down-btn-container),
    .theme-container {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: "COPYRIGHT 2023";
        font-family: $secondaryFont;
        @include themed() { color: t('primaryDark'); }
        rotate: 90deg;
        position: absolute;
        overflow: hidden;
        right: -75px;
        top: 50%;
        transform: translateY(-50%);
    }

    .theme-container {
        * { display: inline-block; }
        width: 250px;
        .theme-icon { 
            @include themed() { color: $secondaryLight; }
            vertical-align: middle; 
        }
        .theme-toggler {
            text-align: left;
            margin:0;
            width: 250px;   
            @include themed() { 
                color: t('backgroundColor'); 
                border-top: 1px solid t('primaryLight');
            }
            font-family: $secondaryFont;
            font-size: 24px;
            background-color: rgba(0,0,0,0);
            background-size: 100% 0%;
            background-repeat: no-repeat;
            transition: .4s;
            border: 0;
            &:hover {
                @include themed() {  
                    color: t('primaryDark');
                    background-image: linear-gradient(t('primaryLight'), t('primaryLight')); 
                }
                background-size: 100% 100%;
            }
        }
    }

    .about {
        top: 0;
        position: relative;
        z-index: 55;
        * { letter-spacing: 2px; }
        .name {
            span { color: $secondaryLight; }
            @include themed() { color: t('primaryLight'); }
            color: $primaryLight;
            font-family: $primaryFont;
            font-size: 64px;
            font-weight: bold;
        }

        .bio {
            font-family: $secondaryFont;
            @include themed() { color: t('primaryLight'); }
            width: 50%;
            .title {  
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
                span { 
                    margin: 0;
                    color: $secondaryLight; 
                }
            }
            .objective {
                font-size: 24px;
                word-break: break-word;
                span { 
                    display: block;
                    margin: 55px 0 55px; 
                }
            }
        }

        .about-hr {
            width: 45%;
            @include themed() { border-bottom: 1px solid t('primaryLight'); }
        }
    }
    
    .info-btn {
        margin: 0 30px;
        position: fixed;
        font-family: $secondaryFont;
        bottom: 30%;
        font-size: 20px;
        @include themed() { 
            border: 1px solid t('primaryLight'); 
            color: t('primaryLight');
        }
        background: rgba(0,0,0,0);
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: .4s;
        padding: 15px;
        &:hover {
            background-size: 100% 100%;  
            @include themed() { 
                background-image: linear-gradient(t('primaryLight'),t('primaryLight'));
                color: t('primaryDark'); 
            }
        }
    }

    .arrow-down-btn-container {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-family: $secondaryFont;  
        margin: 0;
        @include themed() { color: t('primaryLight'); }
        .see-more-btn {
            animation: bounce 1.5s ease infinite;
            animation-fill-mode: both;
            background: rgba(0,0,0,0);
            border: 0;
            @include themed() { color: t('buttonColor'); }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

 @media (max-width: 767px) {
    * { margin: 0; }
   body {
    margin: 10px;
    &::before,
    &::after {
        display: none;
    }
   }

   .container {
    * { margin: 5px 0;}
        &::before { display: none; }
        .about {
            .about-hr { border: 0 !important; }
            .name { font-size: 40px; }
            .bio { 
                width: unset; 
                .title { font-size: 20px; }
                .objective { 
                    font-size: 18px; 
                    span { text-align: center; }
                }
            }   
            .info-btn { font-size: 15px; }
            button {
                display: block;
                margin: 0 auto;
            }
        }

        .theme-container { 
            width: 100%; 
            text-align: center;
            .theme-toggler { text-align: center; } 
        }

        .arrow-down-btn-container { 
            text-align: center;
            .see-more-btn {
                animation: none; 
            }
        }
   }
}