@import 'variables.styles';

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    @include themed() { color: t('primaryLight'); }
    &:hover {
        color: $secondaryLight;
        text-decoration: underline;
    }
}

.hidden-desktop { display: none; }

::-webkit-scrollbar { 
    width: 7px; 
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    @include themed() { background: t('primaryDark'); }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #7342FF; }

button { cursor: pointer; }

span { margin: 0; }

.external-icon { 
    vertical-align: middle;
    color: $secondaryLight; 
}
  
body { 
    overflow-y: hidden;
    @include themed() { background: t('backgroundColor'); }
    &::after,
    &::before {
        @include themed() { background-color: t('backgroundColor'); }
        content: "";
        position: absolute;
        z-index: 500;
        width: 100px;
        height: 25px;  
        transform: translateY(-50%);
    }
    &::after {
        left: 0;
        top: 80%;
    }
    &::before {
        right: 0;
        top: 10%;
    }
}

.project-overlay {
    height: 100%; 
}
.project-information {
    font-family: $secondaryFont;
    background: #0F0F0F !important;
    box-shadow: 1px 1px 20px rgba(189, 189, 189, 0.2) !important;
    color: white;
    .close-icon { 
        font-family: $secondaryFont;
        color: white; 
        &:hover {
            opacity: .8;
        }
    }
    .project-image {
        margin: 0;
        padding: 15px;
        img { 
            margin: 0;
            width: 100%; 
            box-shadow: 1px 1px 10px rgba(210, 224, 226, 0.2);
        }
    }
    .project-description { 
        margin: 20px 20px; }
    .project-stats { 
        border: 1px solid rgb(255, 255, 255);
        padding: 20px;
        span { 
            font-style: italic;
            color: $secondaryLight; 
        }
    }
    .project-urls {
        display: flex;
        justify-content: space-between;
    }
    a {
        margin: 0; 
        color: white;
    }
    h2 { font-family: $primaryFont; }
}
  
.container {
    position: relative;
    padding: 20px;
    height: 95vh;
    background-image: url("../../public/images/production ID_4779866.gif");
    background-size: cover;
    background-repeat: no-repeat;

    // .back-to-top-btn {
    //     position: fixed;
    //     right: 0;
    //     top: 0;
    //     background: rgba(0,0,0,0);
    //     @include themed() { color: t('primaryDark'); }
    //     @include themed() { border: 1px solid t('primaryDark'); }
    //     border-radius: 20px 0 0 0;
    //     &:hover {
    //         @include themed() { background: t('primaryDark'); }
    //         @include themed() { color: t('primaryLight'); }
    //     }
    // }

    .overlay {
        z-index: 1;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    .scroll-container {
        margin: 0;
        position: absolute;
        height: 80vh;
        width: 100%;
        z-index: 70;
        left: 0;
        top: 25%;
        overflow-x: hidden;
        &::-webkit-scrollbar { width: 0; }
        .subcontainer {
            margin: 0;
            position: relative;
            width: 100%;
            height: 80vh;
            bottom: -100%;
            left: 0;
            overflow-x: hidden;
            backdrop-filter: blur(40.7742px);
            background-color: rgba(118, 118, 118, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-group {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            .contact-container {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-items: center;
                justify-content: space-between;
                width: 100%;
                height: 90%;
                @include themed() { color: t('primaryLight'); }
                span { color: $secondaryLight; }
                .contact-header {
                    font-family: $primaryFont;
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 2.7;
                }
                .contact-links {
                    font-family: $secondaryFont;
                    font-size: 36px;
                        .reveal-info {
                            background-color: rgba(0,0,0,0);
                            background-size: 100% 0%;
                            padding-right: 200px;
                            color: rgba(0,0,0,0);
                            font-size: 20px;
                            transition: .4s;
                            border-bottom: 1px solid white; 
                            &.active,
                            &:hover {
                                color: black;
                                background-image: linear-gradient(white, white);
                                background-size: 100% 100%;
                            }
                        }
                }
                .contact-footer {
                    font-family: $footerFont;
                    font-size: 24px;
                    span a { color: $secondaryLight; }
                }
            }
            .swiper-container {
                width: 100%;
        
                .projects {
                    position: relative;
                    display: flex;
                    min-height: 380px;
                    overflow: auto;
                    
                    .arrow-left,
                    .arrow-right { 
                        @include themed() { color: t('primaryDark'); }
                        visibility: hidden; 
                    }
        
                    .swiper-item {
                        position: relative;
                        font-size: 60px;
                        transition: transform 0.4s;
                        background-color: rgba(40, 40, 40, 0.5);
                        background-size: cover;
                        border: 1px solid $secondaryLight;
                        width: 650px;
                        height: 380px;
                        color: white;
                        text-align: center;
                        .swiper-item-background {
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.5); 
                            .swiper-item-button {
                                position: absolute;
                                cursor: pointer;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                &:hover { 
                                    transition: ease .4s;
                                    opacity: .5;
                                }
                            }
                        }
                    }
                } 
            }
        }
    }

    #overlay ~ * :not(.arrow-down-btn-container),
    .theme-container {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: "COPYRIGHT 2023";
        font-family: $secondaryFont;
        @include themed() { color: t('primaryDark'); }
        rotate: 90deg;
        position: absolute;
        overflow: hidden;
        right: -75px;
        top: 50%;
        transform: translateY(-50%);
    }

    .theme-container {
        * { display: inline-block; }
        width: 250px;
        .theme-icon { 
            @include themed() { color: $secondaryLight; }
            vertical-align: middle; 
        }
        .theme-toggler {
            text-align: left;
            margin:0;
            width: 250px;   
            @include themed() { 
                color: t('backgroundColor'); 
                border-top: 1px solid t('primaryLight');
            }
            font-family: $secondaryFont;
            font-size: 24px;
            background-color: rgba(0,0,0,0);
            background-size: 100% 0%;
            background-repeat: no-repeat;
            transition: .4s;
            border: 0;
            &:hover {
                @include themed() {  
                    color: t('primaryDark');
                    background-image: linear-gradient(t('primaryLight'), t('primaryLight')); 
                }
                background-size: 100% 100%;
            }
        }
    }

    .about {
        top: 0;
        position: relative;
        z-index: 55;
        * { letter-spacing: 2px; }
        .name {
            span { color: $secondaryLight; }
            @include themed() { color: t('primaryLight'); }
            color: $primaryLight;
            font-family: $primaryFont;
            font-size: 64px;
            font-weight: bold;
        }

        .bio {
            font-family: $secondaryFont;
            @include themed() { color: t('primaryLight'); }
            width: 50%;
            .title {  
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
                span {
                    color: $secondaryLight; 
                }
            }
            .objective {
                font-size: 24px;
                word-break: break-word;
                span { 
                    display: block;
                    margin: 55px 0 55px; 
                }
            }
        }

        .about-hr {
            width: 45%;
            @include themed() { border-bottom: 1px solid t('primaryLight'); }
        }
    }
    
    .custom-button {
        position: relative;
        font-family: $secondaryFont;
        font-size: 15px;
        margin: 0 5px; 
        @include themed() { 
            border: 1px solid t('primaryLight'); 
            color: t('primaryLight');
        }
        background: rgba(0,0,0,0);
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: .4s;
        padding: 15px;
        &.active {
            @include themed() { 
                background-image: linear-gradient(t('primaryLight'),t('primaryLight'));
                color: t('primaryDark'); 
            }
            background-size: 100% 100%;
        }
        &.fixed { 
            position: fixed; 
            font-size: 20px;
            bottom: 30%;
            margin: 0 50px;
        }
        &:hover {
            background-size: 100% 100%;  
            @include themed() { 
                background-image: linear-gradient(t('primaryLight'),t('primaryLight'));
                color: t('primaryDark'); 
            }
        }
    }

    .arrow-down-btn-container {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-family: $secondaryFont;  
        margin: 0;
        @include themed() { color: t('primaryLight'); }
        .btn-text-shown { 
            width: 100%;
            text-align: center; 
        }
        .see-more-btn {
            width: 100%;
            animation: bounce 1.5s ease infinite;
            animation-fill-mode: both;
            background: rgba(0,0,0,0);
            border: 0;
            @include themed() { color: t('buttonColor'); }
        }
    }
    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {top: 50%;} 
    40% {top: 40%;} 
    60% {top: 45%;} 
} 

 @media (max-width: 767px) {
    * { margin: 0; }
   body {
    margin: 10px;
    &::before,
    &::after {
        display: none;
    }
   }

   .hidden-desktop { display: unset }

   .container {
    * { margin: 5px 0;}
        &::before { display: none; }
        .info-btn {
            margin: 0 77px;
        }
        .back-to-top-btn {
            display: none;
        }
        .info-btn { 
            bottom: 40%;
            width: 50vw;
            left: 50%;
            margin: 0;
            transform: translateX(-50%);
            font-size: 16px;
        }
        .about {
            .about-hr { border: 0 !important; }
            .name { font-size: 40px; }
            .bio { 
                width: unset; 
                .title { font-size: 20px; }
                .objective { 
                    font-size: 18px; 
                    span { text-align: center; }
                }
            }   
  
            button {
                display: block;
                margin: 0 auto;
            }
        }

        .scroll-container {
            .subcontainer {
                .hidden-mobile { display: none; }
                .project-title { 
                    text-align: center; 
                    font-size: 24px;
                }
                .contact-container {
                    width: 100%;
                    flex-wrap: nowrap;
                    .contact-header { font-size: 24px; }
                    .contact-links { font-size: 24px; }
                    .contact-item {
                        .reveal-info { display: none; }
                    }
                    .contact-footer { font-size: 18px; }
                }
                .swiper-container {
                    .projects {
                        justify-content: start;
                        min-height: 500px;
                        overflow: auto;
                        .links { 
                            position: relative;
                            width: 100%;
                            transform: translateX(-50%);
                            left: 50%;
                            bottom: 0;
                            text-align: center; 
                        }
                        .swiper-item {   
                            position: relative;
                            background-position: center;
                            width: 390px;
                            height: 300px;
                            margin: 0 5px 30px;
                        }
                    }
                }
            }
        }

        .theme-container { 
            width: 100%; 
            text-align: center;
            .theme-toggler { text-align: center; } 
        }
   }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .hidden-desktop { display: unset }
    .container {
        .scroll-container {
            .subcontainer {
                .hidden-mobile { display: none; }
                .project-title { 
                    text-align: center;
                    font-size: 24px;
                }
                .swiper-container {
                    margin: 100px;
                    .projects {
                        justify-content: start;
                        min-height: 500px;
                        overflow: auto;
                        .links { 
                            position: relative;
                            width: 100%;
                            transform: translateX(-50%);
                            left: 50%;
                            bottom: 0;
                            text-align: center; 
                        }
                        .swiper-item {
                            position: relative;
                            width: 650px;
                            height: 390px;
                            margin: 0 5px 30px;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
}