.pulse-container {
    position: relative;
    top: 25%;
}

.pulse {
   position: relative;
   margin: 0 auto;
   height: 112px;
   width: 112px;
}

.pulse:before,
.pulse:after {
   border-radius: 50%;
   content: '';
   position: absolute;
}

.pulse:before {
   background: #7342ff;
   height: 22.4px;
   width: 22.4px;
   top: 50%;
   left: 50%;
}

.pulse:after {
   animation: pulse-t3pv1p 1.7999999999999998s infinite;
   border: 11.2px solid #7342ff;
   height: 100%;
   width: 100%;
}

@keyframes pulse-t3pv1p {
   from {
      opacity: 1;
      transform: scale(0);
   }

   to {
      opacity: 0;
      transform: scale(1);
   }
}