@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Montserrat:wght@300;700&family=VT323&display=swap');

//  Light Mode
$backgroundColor: #ffffff;
$primaryLight: #FFFFFF;
$primaryDark: #000000;
$secondaryLight: #7342FF;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Courier Prime', monospace;
$footerFont: 'VT323', monospace;